.about__image {
    width: 464px;
    height: 464px;
    border-radius: 1000px;
}

@media (max-width: 768px) {
    .about__image {
        width: 232px;
        height: 232px;
        align-self: center;
        margin-bottom: 21px;        
    }
}

@media (max-width: 435px) {
    .about__image {        
        margin-left: 0px;
        width: 272px;
        height: 272px;              
    }
}