.saved-news-header__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;    
    color: rgba(26, 27, 34, 0.5);
    margin-top: 0;
    margin-bottom: 0px;
}

@media (max-width: 404px) {
    .saved-news-header__title {
        font-size: 12px;      
    }
}

