.navigation__authorize-button {
    font-family: "Roboto", serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;    
    outline: none;   
    color: #fff;
    background-color: transparent;
    border: none;
    text-decoration: none; 
}

.navigation__authorize-button:hover {
    cursor: pointer;
}

@media (max-width: 768px) {
    .navigation__authorize-button {
        font-size: 16px;
        line-height: 24px;        
    }
}

@media (max-width: 632px) {
    .navigation__authorize-button {        
        font-size: 12px;
        line-height: 18px;              
    }
}