.article__save {
    position: absolute;
    top: 3%;
    right: 5%;
    background-color: #fff;
    background-image: url('../../../images/icon/savebuttonNormal.svg');
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    border: none;
    outline: none;
    border-radius: 8px;
    width: 40px;
    height: 40px;
}

.article__save:hover {
    background-image: url('../../../images/icon/savebuttonHover.svg');
}
