@import url('./__image/article__image.css');
@import url('./__info/article__info.css');
@import url('./__date/article__date.css');
@import url('./__title/article__title.css');
@import url('./__text/article__text.css');
@import url('./__source/article__source.css');
@import url('./__save/article__save.css');

.article {
    background-color: #fff;    
    position: relative;
    max-width: 400px;      
    border-radius: 4%;
    overflow: hidden;                             
}