.search__container {
    background: #fff;
    border: 1px solid #d1d2d6;
    backdrop-filter: blur(8px);
    border-radius: 100px;    
    width: 610px;
    height: 64px;
    display: flex;
    justify-content: space-between;       
}

@media (max-width: 768px) {
    .search__container {
        max-width: 448px;
        max-height: 56px;
        margin-left: 48px;
    }
}