@import url('./__title/saved-news-header__title.css');
@import url('./__info/saved-news-header__info.css');
@import url('./__keywords/saved-news-header__keywords.css');
@import url('./__keywords-bold/saved-news-header__keywords-bold.css');

.saved-news-header {    
    max-width: 1440px;
    min-width: 320px;
    padding-top: 24px;
    padding-bottom: 32px;
    padding-left: 104px;
}

@media (max-width: 768px) {
    .saved-news-header {
        padding-left: 40px;        
    }
}