.navigation__auth {
    font-family: "Roboto", serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;     
    min-width: 176px;
    max-height: 48px;
    background-color: transparent;    
    border: 1px solid #fff;
    box-sizing: border-box;
    border-radius: 100px;
    padding: 0;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.navigation__auth:hover {
    cursor: pointer;
    opacity: 0.6;
    border: 1px solid rgba(255, 255, 255, 0.6);
}

@media (max-width: 768px) {
    .navigation__auth {
        font-size: 16px;
        line-height: 24px;  
        min-width: 152px;
        max-height: 40px;
        margin-top: 6px;
    }
}

@media (max-width: 632px) {
    .navigation__auth{        
        min-width: 132px;
        margin-top: 4px;
        font-size: 12px;
        line-height: 18px;                
    }
}