.footer__navigation-list {
    list-style-type: none;
    margin-left: 30px;
}

@media (max-width: 640px) {
    .footer__navigation-list{
        margin-left: 0px;
        margin-bottom: 16px;            
    }
}
