.navigation__container {
    background-color: transparent;
    border: 1px solid #1A1B22;
    box-sizing: border-box;
    border-radius: 100px;
    width: 112px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .navigation__container {
        margin-top: 6px;
        width: 100px;
        max-height: 40px;
    }
}