.burger-navigation__auth-button {
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;    
    text-align: center;
    color: #FFF;
    border: 1px solid #FFF;
    box-sizing: border-box;
    border-radius: 100px;
    background-color: transparent;
    width: 288px;
    height: 56px;
    margin-top: 22px;
}