.article__keyword {    
    position: absolute;
    top: 3%;
    left: 3%;
    width: 88px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;    
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;   
    text-align: center;
    color: #000000;
    background: #FFF;
    border-radius: 10px;
    opacity: 0;
}