.footer__navigation-link {
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;    
    text-align: center;    
    color: #1A1B22;
    text-decoration: none;
    cursor: pointer;
}

.footer__navigation-link:hover {
    opacity: 0.6;
}
