@import url('./__title/burger__title.css');
@import url('./__view/burger__view.css');
@import url('./__close/burger__close.css');
@import url('./__header/burger__header.css');

.burger {
    padding: 16px 16px 16px 16px;
    display: flex;
    flex-direction: column;   
    box-shadow: inset 0px -1px 0px #D1D2D6;       
}