.article__date {
    font-family: 'Source Sans Pro', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #b6bcbf;
    margin-top: 20px;
    margin-bottom: 0px;
    padding-left: 24px;    
}